<!-- this is an error custom page and mus be called 404.html -->
<!-- Django will automatically look for this page -->
<!-- Djanog will replace your custom 404 page with its own if at project level templates you create a 404 page-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
</head>
<body>
    <h1>Custome 404 page</h1>
</body>
</html>